<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OneCoffee</key>
	<string>org.avicinaraka.OneCoffee</string>
	<key>TwoCoffees</key>
	<string>org.avicinaraka.TwoCoffees</string>
	<key>ThreeCoffees</key>
	<string>org.avicinaraka.ThreeCoffees</string>
	<key>FourCoffees</key>
	<string>org.avicinaraka.FourCoffees</string>
	<key>FiveCoffees</key>
	<string>org.avicinaraka.FiveCoffees</string>
	<key>TenCoffees</key>
	<string>org.avicinaraka.TenCoffees</string>
	<key>TwentyCoffees</key>
	<string>org.avicinaraka.TwentyCoffees</string>
	<key>ThirtyCoffees</key>
	<string>org.avicinaraka.ThirtyCoffees</string>
	<key>FortyCoffees</key>
	<string>org.avicinaraka.FortyCoffees</string>
	<key>FiftyCoffees</key>
	<string>org.avicinaraka.FiftyCoffees</string>
</dict>
</plist>
